@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');

:root {
	--primary-color: #00adb5;
	--dark-color: #1b2027;
	--lessdark-color: #283039;

	--medium-color: #fffbad;
	--light-color: #eeeeee;
	--green-color: #7bf85b;
}

.round-timer {
	width: 8rem;
	padding: 2.1rem 2rem;
	font-size: 2.8rem;
	/* border: 1.5px solid white; */
	border-radius: 50%;
	color: var(--dark-color);
	background: linear-gradient(var(--light-color), var(--green-color));
}

.animate-timer {
	animation: timer 1s infinite forwards;
}

@keyframes timer {
	0% {
		opacity: 0.1;
		transform: scale(1.1);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
}

.option-button {
	font-family: Cardo;
	display: inline-block;
	background: linear-gradient(var(--light-color), var(--medium-color));
	color: var(--dark-color);
	width: 38vw;
	padding: 3rem 8rem;
	font-size: 2.5rem;
	font-weight: 600;
	border: none;
	border-radius: 4rem;
	cursor: pointer;
	margin: 1rem;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.textbox {
	font-family: Cardo;
	font-size: 2.5rem;
	font-weight: normal;
	display: flex;
	height: 30vh;
	width: 80vw;
	padding: 2rem 8rem;
	border: 1px solid white;
	border-radius: 4rem;
}

.animate-textbox {
	animation: grow 1s ease-in-out;
}

@keyframes grow {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline: none;
}
